.contact-section-title {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1000px;
	margin-inline: auto;
	padding-top: 5rem;
}

.contact-title {
	font-size: 2rem;
	margin-inline: 1rem;
}

.contact-list {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 2rem;
	padding-bottom: 8rem;
	padding-inline: 0px;
	margin: 0px;
}

.contact-link {
	margin-inline: 2rem;
	font-size: 3rem;
	color: var(--text-primary);
	transition: all 0.3s ease;
}

.contact-link:hover {
	color: var(--accent-primary);
	transform: translateY(-0.5rem);
}

.contact-description-container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem 0;
}

.contact-description {
	font-size: 1.125rem;
	max-width: 50ch;
	text-align: center;
	color: var(--text-secondary);
}
