p {
	color: var(--text-secondary);
	margin: 0;
}

h1 {
	color: var(--text-primary);
	font-size: min(6em, 10vw);
	font-weight: 900;
	margin: 0;
}

.home-block {
	height: calc(100vh - 3rem);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.home-text {
	align-self: center;
	min-width: 400px;
	max-width: 40rem;
}

.hello-text, .motto-text {
	font-size: min(1.125rem, 3vw);
	line-height: 1.5;
	font-weight: 400;
}

.name {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.avatar {
	height: auto;
	max-width: 300px;
	margin-top: auto;
	margin-bottom: auto;
	margin-inline: 2rem;
}
