.preloader-background {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
	width: 100vw;
	height: 100vh;
	background-color: var(--accent-primary);
	color: var(--text-primary);
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
    transition: all 0.5s ease;
}

.preloader-background.hidden {
    bottom: -100vh;
}

.preloader-logo-container {
	display: flex;
	justify-content: center;
	align-items: center;
	animation: preloaderAnimation 3s ease-in-out forwards;
}

.preloader-logo {
	max-width: 400px;
	height: auto;
}

@keyframes preloaderAnimation {
	0% {
		transform: scale(0);
	}
	20% {
		transform: scale(1.2);
	}
	25% {
		transform: scale(1);
	}
	30% {
		transform: scale(1);
	}
	60% {
		transform: scale(1) rotate(-25deg);
	}
	75% {
		transform: scale(1) rotate(720deg);
	}
	100% {
		transform: scale(0);
	}
}
