.work-container {
	padding-top: 3rem;
	padding-bottom: 6rem;
	display: flex;
	justify-content: center;
	column-gap: 3rem;
}

.buttons-container {
	margin-top: 6rem;
	display: flex;
	flex-direction: column;
	width: 400px;
}

.button-wrapper {
	display: flex;
	align-items: center;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	margin-bottom: 0.5rem;
	cursor: pointer;
	min-width: 225px;
}

.line {
	height: 1px;
	background-color: var(--text-secondary);
	margin-right: 10px;
	width: 50px;
	transition: width 0.3s, background-color 0.3s;
}

.button-wrapper button {
	border: none;
	background: none;
	cursor: pointer;
	color: var(--text-secondary);
	font-family: "Inter", sans-serif;
	font-size: 1.25rem;
	font-weight: 500;
	transition: color 0.3s;
}

.button-wrapper.active .line {
	height: 2px;
	width: 125px;
	background-color: var(--text-primary);
}

.button-wrapper.active button {
	color: var(--text-primary);
}

.button-wrapper:hover .line {
	height: 2px;
	width: 125px;
	background-color: var(--accent-primary);
}

.button-wrapper:hover button {
	color: var(--accent-primary);
}

.work-description-container {
	width: 600px;
}

.work-description-container.fade {
	opacity: 0;
	transition: opacity 0.15s;
}

.position-company {
	margin-bottom: 0.25rem;
	font-size: 1.625rem;
	letter-spacing: 0.0625rem;
}

.date {
	margin-bottom: 1rem;
	font-size: 0.875rem;
	font-weight: lighter;
}

.bullet {
	position: relative;
	margin-bottom: 1rem;
	line-height: 1.5;
	font-weight: 400;
	font-size: min(1.125rem, 3.5vw);
}

.bullet::before {
	content: "»";
	position: absolute;
	left: -1rem;
	color: var(--accent-primary);
}

.skills-list {
	display: flex;
	flex-wrap: wrap;
	max-width: 100%;
	margin: 0;
	padding: 0;
}

.skill {
	background-color: var(--bg-secondary);
	color: var(--accent-primary);
	list-style-type: none;
	border-radius: 30px;
	margin-top: 0.25rem;
	margin-bottom: 0.5rem;
	margin-right: 0.75rem;
	padding: 0.5rem 0.75rem 0.5rem 0.75rem;
	font-size: 0.875rem;
}

.work-section-title {
	display: flex;
	align-items: center;
	max-width: 1000px;
	margin-inline: auto;
	padding-top: 5rem;
}

.title-line {
	height: 1px;
	background-color: var(--bg-tertiary);
}

.title-line.first {
	width: 100px;
}

.title-line.second {
	width: 300px;
}

.work-title {
	font-size: 2rem;
	margin-inline: 1rem;
}

@media (max-width: 1000px) {
	.work-section-title {
		justify-content: center;
	}

	.title-line.first {
		width: 50px;
	}

	.title-line.second {
		width: 150px;
	}

	.work-container {
		padding-top: 1rem;
		padding-bottom: 0px;
		margin-bottom: 1rem;
		flex-wrap: wrap;
	}

	.work-description-container {
		width: auto;
	}

	.line {
		display: none;
	}

	.buttons-container {
		margin: 0;
		overflow-x: scroll;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
	}

	.button-wrapper {
		display: inline-block;
		justify-content: center;
		align-items: center;
		min-width: unset;
		border: 1px solid var(--bg-secondary);
		background-color: var(--bg-secondary);
		padding: 0.5rem 0.75rem;
		white-space: nowrap;
	}

	.button-wrapper:first-child {
		border-radius: 1rem 0 0 1rem;
	}

	.button-wrapper:last-child {
		border-radius: 0 1rem 1rem 0;
	}

	.button-wrapper.active {
		border: 1px solid var(--bg-tertiary);
	}

	.button-wrapper button {
		font-size: 1rem;
	}

	.active button {
		color: var(--accent-primary);
	}

	.link::before {
		display: none;
	}
}

@media (max-width: 725px) {
	.title-line.first {
		width: 50px;
	}

	.title-line.second {
		width: 80px;
	}
}
