.work-container {
	padding-top: 3rem;
	padding-bottom: 6rem;
	display: flex;
	justify-content: center;
}


.buttons-container {
	margin-top: 3rem;
	display: flex;
	flex-direction: column;
	width: 400px;
}

.button-wrapper {
	display: flex;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	cursor: pointer;
	min-width: 225px;
}

.line {
	height: 1px;
	background-color: var(--text-secondary);
	margin-right: 10px;
	width: 50px;
	transition: width 0.2s ease;
}

button {
	border: none;
	background: none;
	cursor: pointer;
	color: var(--text-secondary);
	font-family: "Inter", sans-serif;
	font-size: 0.875rem;
	font-weight: 500;
}

.button-wrapper.active .line {
	height: 2px;
	width: 125px;
	background-color: var(--text-primary);
}

.button-wrapper.active button {
	color: var(--text-primary);
}

.button-wrapper:hover .line {
	height: 2px;
	width: 125px;
	background-color: var(--text-primary);
}

.button-wrapper:hover button {
	color: var(--text-primary);
}

.work-description-container {
	width: 600px;
}

.work-description-container.fade {
	opacity: 0;
	transition: opacity 0.15s ease;
}

.position-company {
	margin-bottom: 0.25rem;
	font-size: 1.5rem;
	letter-spacing: 0.0625rem;
}

.date {
	margin-bottom: 1rem;
	font-size: 0.875rem;
	font-weight: lighter;
}

.bullet {
	margin-bottom: 1rem;
	line-height: 1.5;
	font-weight: 400;
}

.skills-list {
	display: flex;
	flex-wrap: wrap;
	max-width: 100%;
	margin: 0;
	padding: 0;
}

.skill {
	background-color: var(--accent-secondary);
	color: var(--accent-primary);
	list-style-type: none;
	border-radius: 30px;
	margin-top: 0.75rem;
	margin-right: 0.75rem;
	padding: 0.5rem 0.75rem 0.5rem 0.75rem;
	font-size: 0.875rem;
}

.work-section-title {
	display: flex;
	align-items: center;
	max-width: 1000px;
	margin-inline: auto;
	padding-top: 5rem;
}

.title-line {
	height: 1px;
	background-color: var(--bg-secondary);
}

.title-line.first {
	width: 100px;
}

.title-line.second {
	width: 300px;
}

.work-title {
	font-size: 2rem;
	margin-inline: 1rem;
}