:root {
  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-primary: #194161;
    --bg-secondary: #20547D;
    --accent-primary: #8CC084;
    --accent-secondary: #45793E;
    --text-primary: #EBEBEB;
    --text-secondary: #CCCCCC;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-primary: #EBEBEB;
    --bg-secondary: #CCCCCC;
    --accent-primary: #45793E;
    --accent-secondary: #8CC084;
    --text-primary: #194161;
    --text-secondary: #20547D;
  }
}


.test {
  background-color: var(--bg-primary);
}