:root {
	color-scheme: light dark;
}

/* @media (prefers-color-scheme: dark) { */
:root {
	--bg-primary: #112b41;
	--bg-secondary: #1b354b;
	--bg-tertiary: #234c6b;
	--accent-primary: #8cc084;
	--accent-secondary: #4dbb4a;
	--text-primary: #ebebeb;
	--text-secondary: #c2c2c2;
}
/* } */

/* @media (prefers-color-scheme: light) {
	:root {
		--bg-primary: #ebebeb;
		--bg-secondary: #dfdfdf;
		--bg-tertiary: #c0c0c0;
		--accent-primary: #4dbb4a;
		--accent-secondary: #8cc084;
		--text-primary: #112b41;
		--text-secondary: #234c6b;
	}
} */

@font-face {
	font-family: "Inter";
	src: url("./fonts/Inter-VariableFont_slnt-wght.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

:root {
	background-color: var(--bg-primary);
	font-family: "Inter", sans-serif;
}

body {
	margin: 0;
}

a {
	color: var(--accent-primary);
	text-decoration: none;
}

.container {
	max-width: 1000px;
	min-width: 80vw;
	margin-inline: auto;
	padding-bottom: 3rem;
	padding-inline: 2rem;
}

.not-yet-viewed {
	opacity: 0;
	transform: translateY(40px);
	filter: blur(5px);
	transition: all 0.5s ease-in-out;
}

.viewed {
	opacity: 1;
	transform: translateY(0px);
	transition: all 0.5s ease-in-out;
}

@media (prefers-reduced-motion) {
	.not-yet-viewed {
		opacity: 1;
		transition: none;
	}
}

.not-viewed {
	opacity: 0;
	transform: translateY(40px);
	filter: blur(5px);
	transition: all 0.5s ease-in-out;
}

.not-viewed:nth-child(2) {
	transition-delay: 200ms;
}
.not-viewed:nth-child(3) {
	transition-delay: 400ms;
}
.not-viewed:nth-child(4) {
	transition-delay: 600ms;
}
.not-viewed:nth-child(5) {
	transition-delay: 800ms;
}